/* this is where we call all of our visual sources! */

.primary{
    color: #000000;
    font-size: 50px;
    text-align:center;

    /* primary are for title based text */
}

.pad {
    /* THIS IS OUR MAIN PADDING (surrounding box) */
border-radius: 25px;
box-shadow: 2px 10px 8px 5px #000000;
width: 900px;
height: 900px;
position: relative;
border: 5px solid rgba(189, 189, 189, 0.3);
background: rgba(189, 189, 189, 0.15);
border-style:double;
padding: 50px;
margin: 20px;
overflow: hidden;
}

/*.edit-button{
    this is intentially left BLANK, edit button will be edited here
}*/

.bottomtext{
    color: rgba(189, 189, 189, 0.3);
    font-size: 10px;
    /*this is the SMALL Text!*/
}

.pad-left{
    /* this is the LEFT panel */
    position: relative;
    top: -750px;
    left: -60px;
    width: 150px;
    height: 650px;
    border: 2px;
    background: rgba(189,189,189,0.15);
    border-radius: 25px;
    padding: 25px;
    margin: 50px;
}

.pad-middle{
    /* this is the padding for dropping colors */
    position: relative;
    top: 0px;
    left: 180px;
    width: 600px;
    height: 650px;
    border: 2px;
    background: rgba(189,189,189,0.15);
    border-radius: 25px;
    padding: 25px;
    margin: 50px;
    font-size: 35px;
    font-variant: normal;
    overflow: hidden;
}

.pad-edit{
left: -60px;
font-size: 25px;
border-radius: 25px;
background: #ff0000;
padding: px;
width: 150px;
height: px;
}

.left-bt-color1{
    border-radius: 25px;
    background-color:  rgba(189,189,189,0.15);
    padding: 20px;
    width: 110px;
    height: 100px;
    font-size: 15px;
    margin-bottom: 130px;
}

.left-bt-color2{
    border-radius: 25px;
    background-color: rgba(189,189,189,0.15);
    padding: 20px;
    width: 110px;
    height: 100px;
    font-size: 15px;
    margin-bottom: 130px;
}

.left-bt-color3{
    border-radius: 25px;
    color: rgba(189,189,189,0.15);
    padding: 20px;
    width: 110px;
    height: 100px;
    font-size: 15px;
}

.mid-pad-circle1{
    
    border-radius: 100px;
    background: rgba(189,189,189,0.15);
    padding: 20px;
    width: 200px;
    height: 200px;
    font-size: 10px;
}

.mid-pad-circle2{
    position:relative;
    top: -240px;
    left: 360px;
    border-radius: 100px;
    background: rgba(189,189,189,0.15);
    padding: 20px;
    width: 200px;
    height: 200px;
    font-size: 10px;
}

.mid-pad-circle3{
    position:relative;
    top: -240px;
    left: 180px;
    border-radius: 100px;
    background: rgba(189,189,189,0.15);
    padding: 20px;
    width: 200px;
    height: 200px;
    font-size: 10px;
}